{
   "members": [
      {"name": "foo", "access": 2},
      {"name": "bar", "access": 4},
      {"name": "Rick", "access": 1},
      {"name": "Billy", "access": 0},
      {"name": "Trevor", "access": 2},
      {"name": "James", "access": 3},
      {"name": "Alexa", "access": 1},
      {"name": "Ashley", "access": 0}
   ]
}